[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-rapid-theme"]
	path = themes/hugo-rapid-theme
	url = https://github.com/coderzh/hugo-rapid-theme.git
